

 .product{
     /* border: 1px solid blue; */
     float: left;
     margin: 20px 50px;
     width: 50%;
     
 }
 
 .order_container{
     float: right;
     border: 1px solid grey;
     margin: 20px 100px;
     width: 30%;
     text-align: center;
     
 }