.order{
    /* border:1px solid red; */
 
}

.productName{
    /* border:1px solid red; */
  text-align: left;
}

.price{
    /* border:1px solid red; */
    text-align : right;
}

.total{
    text-align: left;
    font-weight: bold;
    margin: 30px;
}